*{
    margin:0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
    color: white;

}

.search-box {
    margin-top: 200px;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: auto;
    background-color: aliceblue;
}
.row {
    margin: 1px;
    display: flex;
}
button, input {
    height: 100%;
    padding: 10px; 
    outline: none;
    border: none; 
}
button {
    background-color: blanchedalmond;
}
input {
    flex-grow: 1;
}
.search-result ul {
    background-color: rgb(255, 255, 255);
    list-style: none;
    color: black;
}
.search-result li {
   padding: 13px;
   border-top: 0.5px solid rgba(0, 0, 0, 0.157);
}

.search-result li:hover {
   background-color: antiquewhite;
}
